<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Homepage</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <%- include('./partials/script') %>
            <H1>blog</H1>
</body>

</html>